name: poorna_raavi
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: ^3.11.0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: Advercase
      fonts:
        - asset: assets/fonts/AdvercaseFont-Demo-Bold.otf
    
        # - asset: assets/fonts/AdvercaseFont-Demo-Regular.otf
        #   style: Regular
    
